.margin-top-20 {
    margin-top: 20px;
}

.footer-bottom {
    margin: 20px;
    background: blanchedalmond;
    height: 40px;
    text-align: center;
}

#adminProductCreateButton {
    float: right;
}

#adminGotoHomeButton {
    float: left;
}

#AddProduct {
    background-color: rgb(43, 43, 185);
    color: white;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

#cancelProductButton {
    float: right;
}

#contactPage {
    text-align: center;
    margin-top: 40px;
}

#navbarColor {
    background: purple;
}

.card {
    margin-top: 10px;
}

.navbar {
    position: sticky;
}

.sticky-top {
    top: 0px;
}

.carousel-item {
    height: 450px;
    width: 100%;
}

#homeProduct {
    float: right;
    color: blue;
}